#grid {
    display:grid;
    grid-template-columns:159px 1fr;
}
#article{
    padding-left: 25px;
}
a{
    color:black; 
    text-decoration: none;
}
h1 {
    font-size:60px;
    text-align:center;
    border-bottom:gray solid 1px;
    margin:0px;
    padding:20px;
}
#grid ol{
    border-right:1px solid gray;
    width: 100px;
    margin: 0px;
    padding: 20px;
    padding-left: 33px;
}
body{
    margin: 0px;
}
#active{
    color:red;
}
@media(max-width:800px){
    #grid {
    display:block;
    }
    #grid ol{
        border-right:none;
    }
    h1{
        border-bottom:none;
    }
}